<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <title>衡道医学销售工具箱</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link rel="stylesheet" href="../assets/plugins/jquery-weui/dist/lib/weui.css">
    <link rel="stylesheet" href="../assets/plugins/jquery-weui/dist/css/jquery-weui.css">
    <link rel="stylesheet" href="../assets/plugins/jquery-weui/dist/demos/css/demos.css">
    <link rel="stylesheet" href="../assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/pages.css"/>
</head>
<body ontouchstart>
<header class='demos-header'>
  <h1 class="demos-title">靶向药物检测</h1>
</header>
<div v-cloak class="page__bd" id="page__bd">
  <div class="remark-info">检测周期：{{testPeriod}}</div>
  <div class="weui-panel weui-panel_access" v-for="item in content">
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_text with-padding-bottom7">
        <h4 class="weui-media-box__title">{{item.name}}</h4>
        <div>
          <div class="weui-media-box__desc inline">样本类型：&nbsp;</div>
          <div class="weui-media-box__desc inline">{{item.type}}</div>
        </div>
          <!--<dl class="dl-horizontal item_list">-->
            <!--<dt>对应药物：</dt>-->
            <!--<dd v-for="(medicine,index) in item.medicines">-->
              <!--{{medicine.name}}-->
              <!--<ul>-->
                <!--<li>-->
                  <!--{{medicine.cancer}}-->
                <!--</li>-->
              <!--</ul>-->
            <!--</dd>-->
          <!--</dl>-->
        <div class="width_100_percent">
          <div class="weui-media-box__desc inline-block width_67_px vertical-top">对应药物：</div>
          <div v-for="(medicine,index) in item.medicines"
               v-bind:class="index == 0 ? 'inline-block width_70_percent vertical-top with-margin-bottom8 line-height10'
               : 'with-padding-left70 width_70_percent vertical-top with-margin-bottom8 line-height10'">

            <div
                v-bind:class="index == 0 ? 'weui-media-box__desc inline width_60_percent vertical-top'
                : 'weui-media-box__desc width_100_percent vertical-top'">
              {{medicine.name}}
            </div>
            <div class="weui-media-box__desc font-size12 with-padding-left10 vertical-top">
              {{medicine.cancer}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="../assets/plugins/jquery-weui/dist/lib/jquery-2.1.4.js"></script>
<script src="../assets/plugins/jquery-weui/dist/lib/fastclick.js"></script>
<script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="../assets/plugins/vue/dist/vue.min.js"></script>
<script src="../assets/js/targeted_drug.js"></script>
<script src="../assets/plugins/jquery-weui/dist/js/jquery-weui.js"></script>
</body>
</html>