.weui-grid__label {
    height: 44px;
    vertical-align: bottom;
}

.with-line-height {
    line-height: 44px;
}

.weui-media-box__desc {
    line-height: 20px;
    -webkit-box-orient: horizontal;
}

.font-size12 {
    font-size: 12px;
}

.with-padding-left10 {
    padding-left: 10px;
}

.with-padding-left70 {
    padding-left: 73px;
}

.demos-title {
    font-size: 25px;
}

.weui-media-box__desc {
    height: 100%;
}

.with-sup sup {
    text-indent:0;

    background:none;

    width:auto;

    height:16px;

    line-height:16px;

    font-weight:normal;

    vertical-align:text-bottom;

    font-size:8px;
}

.remark-info {
    color: #999999;
    font-size: 12px;
    text-align: right;
    margin: 5px;
}

.weui-media-box__title {
    overflow: inherit;
    white-space: normal;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.width_60_percent {
    width: 60%;
}

.width_100_percent {
    width: 100%;
}

.width_67_px {
    width: 69px;
}

.width_70_percent {
    width: 70%;
}

.vertical-top {
    vertical-align: top;
}

.line-height10 {
    line-height: 10px;
}

.with-margin-bottom8 {
    margin-bottom: 8px;
}

.with-padding-bottom7 {
    padding-bottom: 7px;
}

.without-padding-bottom {
    padding-bottom: 0px;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.with-margin {
    margin: 15px;
}

.panel-heading {
    padding-top: 5px;
    padding-bottom: 5px;
}

[v-cloak] {
    display: none;
}

.icon_index {
    height: 40%;
    text-align: center;
    margin-top: 10%;
    color: #5bc0de;
}

.icon_image {
    width: 128px;
    height: 128px;
}

.icon_small {
    width: 120px;
    height: 120px;
}

.q_panel .panel-heading h5 a {
    color: #0d0d0d;
    font-weight: normal;
    font-size: 14px;
    text-decoration: none;
}

.q_panel .panel-collapse .panel-body {
    color: #999999;
    font-size: 13px;
}

.item_list {
    margin-bottom: 0;
}

.item_list dt {
    width: 65px;
    font-weight: normal;
    color: #999999;
    font-size: 13px;
}

.dl-horizontal dt {
    float: left;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item_list dd {
    font-weight: normal;
    color: #999999;
    font-size: 13px;
    margin-left: 65px;
    text-overflow: clip;
}

.couple_item dd p {
    text-indent: 13px;
    font-size: 12px;
}