<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
  <head>
    <title>衡道医学销售工具箱</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link rel="stylesheet" href="../assets/plugins/jquery-weui/dist/lib/weui.css">
    <link rel="stylesheet" href="../assets/plugins/jquery-weui/dist/css/jquery-weui.css">
    <link rel="stylesheet" href="../assets/plugins/jquery-weui/dist/demos/css/demos.css">
    <link rel="stylesheet" href="../assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/pages.css"/>
  </head>
</head>
<body ontouchstart>
<header class='demos-header'>
  <h1 class="demos-title">Q&A</h1>
</header>
<div v-cloak class="page__bd" id="page__bd">
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default q_panel"  v-for="(item, index) in content" v-bind:id="'question' + index">
      <div class="panel-heading" role="tab" id="headingOne">
        <h5>
          <a role="button" data-toggle="collapse" data-parent="#accordion" v-bind:href="'#answer' + index"
             aria-expanded="true"
              aria-controls="collapseOne">
            {{item.question}}
          </a>
        </h5>
      </div>
      <div v-bind:id="'answer' + index" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body" v-for="answer in item.answer">
          {{answer}}
        </div>
        <div class="panel-body" v-if="item.remark">
          {{item.remark}}
        </div>
      </div>
    </div>
  </div>
</div>
<script src="../assets/plugins/jquery-weui/dist/lib/jquery-2.1.4.js"></script>
<script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="../assets/plugins/jquery-weui/dist/lib/fastclick.js"></script>
<script src="../assets/plugins/vue/dist/vue.min.js"></script>
<script src="../assets/js/qa.js"></script>
<script src="../assets/plugins/jquery-weui/dist/js/jquery-weui.js"></script>
</body>
</html>